#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page-map aside {
  width: 440px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 1;
}

#page-map .create-orphanage {
  position: absolute;
  right: 48px;
  bottom: 48px;
  width: 64px;
  height: 64px;
  background-color: #15c3d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: background-color 0.2s;
  z-index: 2;
}

#page-map .create-orphanage:hover {
  background-color: #17d7eb;
}
